// stylelint-disable no-descending-specificity
body {
  

  background-color: $color-background;

  background: 
  $background-image repeat fixed;
  background-size: 100%;
  
  color: var(--color-text);
  font-family: var(--font-family);

  // from the internet tutorial
  height: 100vh;

  overflow-x: hidden;
  overflow-y: auto;

  perspective: 1px;
  margin:0;
  position: relative;
}

main {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-top: 5vh;
  padding-bottom: 5vh;

  &:focus {
    outline: none;
  }

  h3 {
    color: var(--color-primary);
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;  
    column-count: 3; 

  }
  li {
    /* Optional styling for list items */
    
    margin-bottom: 8px;
    padding: 5px;
    color: black;
    
  }

  li:hover {
    text-decoration: underline;
  }
}

body::after{
  content: " ";
  // background: $ship 82% 70% no-repeat fixed;
  // background-size: 20%;
  background: 
  $bigIsland 62% 85% no-repeat fixed, 
  $bean 39% 60% no-repeat, 
  // $bean 30% 100% no-repeat, 
  $left 32.5% 75% no-repeat, 
  $line 33% 70% no-repeat, 
  $lines 62% 84% no-repeat, 
  $line3 40% 54% no-repeat, // con esta tengo que seguir
  $lines2 65% 50% no-repeat, 
  $lines4 44% 33% no-repeat, 
  $right 67.2% 60% no-repeat, 
  $small 60% 50% no-repeat, 
  $top 43% 34.2% no-repeat, 
  // $top2 top right no-repeat, 
  $top3 35% 33% no-repeat, 
  // $topbig 35% 34% no-repeat, 
  $topRight 67% 45% no-repeat;
  
  background-size: 
  10%, //  $bigIsland
  8%, //   $bean
  // 15%, //  $bean
  3%, //  $left
  3%, //  $line
  4%, //  $lines
  3%, //  $line3
  3%, //  $lines2
  3%, //  $lines4
  2%, //  $right
  3%, //  $small
  10%, //  $top
  // 10%,//$top2
  8%, //  $top3
  5%, //  $topbig
  5%,; // $topRight
  
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-3px) scale(11.1);

}

article {
  section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  a{
    text-decoration: none;
    color: black;
  }
  a:hover {
    text-decoration: underline; /* Add underline on hover if desired */
  }
}

#guidelines h3 {
  color: var(--color-secondary)
}

aside {
  margin-left: auto;
  width: 50%;
  a{
    text-decoration: none;
    color: black;
  }
  a:hover {
    text-decoration: underline; /* Add underline on hover if desired */
  }
}

#styles {
  margin-right: auto;
  width: 50%;
  a{
    text-decoration: none;
    // color: black;
  }
  a:hover {
    text-decoration: underline; /* Add underline on hover if desired */
  }
}


article,
.page-footer,
#styles {
  .container {
    width: 100%;
    max-width: 80ch;
    margin-right: auto;
    margin-left: auto;
  }
}

article,
#styles {
  padding: 1rem;
}

.page-footer ul,
.features {
  display: grid;
  margin: 0 0 2rem;
  padding: 0;
  grid-gap: 1em;
  list-style: none;
}


//y ahora el theme por si acaso


$color-primary: #FEAA01 !default;
$color-secondary: #805C13 !default;
$color-background: #FEDB96 !default;
$color-text: #000000 !default;
$background-image: url('/images/background2.jpg');
$bigIsland: url('/images/bigIsland.svg');
$bean: url('/images/bean.svg');
$left: url('/images/left.svg');
$line: url('/images/line.svg');
$lines: url('/images/lines.svg');
$line3: url('/images/line3.svg');
$lines2: url('/images/lines2.svg');
$lines4: url('/images/lines4.svg');
$right: url('/images/right.svg');
$small: url('/images/small.svg');
$top: url('/images/top.svg');
$top2: url('/images/top2.svg');
$top3: url('/images/top3.svg');
$topbig: url('/images/topbig.svg');
$topRight: url('/images/topRight.svg');
$ship: url('/images/ship.png');

$brand-colors: (
  primary: $color-primary,
  primary-alt: $color-primary,
  secondary: $color-secondary,
) !default;

$color-body: scale-color(
  $color-primary,
  $lightness: -30%,
  $saturation: -50%
) !default;
// $color-gray: mix(#767676, $color-body, 70%) !default;

$colors: map-merge(
  $brand-colors,
  (
    background: $color-background,
    text: $color-body,
    light: #dcad6a,
  )
);

@function color($key) {
  @return map-get($colors, $key);
}

@function svgColor($color) {
  @return "%23" + str-slice("#{color($color)}", 2, -1);
}

$link-color: color(primary) !default;
$border-radius: 8px !default;

$font-weight-strong: 500 !default;
$font-size-h1: 6rem !default;
$font-size-h2: 3rem !default;
$font-size-h3: 2rem !default;
$font-size-h4: 1.35rem !default;
$font-size-text: 1.15rem !default;

$font-sizes: (
  h1: $font-size-h1,
  h2: $font-size-h2,
  h3: $font-size-h3,
  h4: $font-size-h4,
  text: $font-size-text,
);

// stylelint-disable
:root {
  @each $key, $color in $colors {
    --color-#{$key}: #{$color};
  }

  --color-anchor: #{$link-color};
  --font-family: "Pirata One", sans-serif;
  --font-weight-strong: #{$font-weight-strong};

  @each $key, $size in $font-sizes {
    --font-size-#{$key}: #{$size};
  }

  --border-radius: #{$border-radius};
}
