// stylelint-disable no-descending-specificity
body {
  background-color: $color-background;
  // opacity: 50%;
  // position: fixed;
  background-image: $background-image;
  // width: 100%;
  // background-size: cover;
  height: 100%;
  color: var(--color-text);
  font-family: var(--font-family);
  background-repeat: no-repeat;
}




main {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  padding-top: 5vh;
  padding-bottom: 5vh;

  &:focus {
    outline: none;
  }

  h3 {
    color: var(--color-primary);
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;  
    column-count: 3; 

  }
  li {
    /* Optional styling for list items */
    
    margin-bottom: 8px;
    padding: 5px;
    color: black;
    
  }

  li:hover {
    text-decoration: underline;
  }
}

article {
  section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  a{
    text-decoration: none;
    color: black;
  }
  a:hover {
    text-decoration: underline; /* Add underline on hover if desired */
  }
}

#guidelines h3 {
  color: var(--color-secondary)
}

aside {
  margin-left: auto;
  width: 50%;
  a{
    text-decoration: none;
    color: black;
  }
  a:hover {
    text-decoration: underline; /* Add underline on hover if desired */
  }
}

#styles {
  margin-right: auto;
  width: 50%;
  a{
    text-decoration: none;
    // color: black;
  }
  a:hover {
    text-decoration: underline; /* Add underline on hover if desired */
  }
}


article,
.page-footer,
#styles {
  .container {
    width: 100%;
    max-width: 80ch;
    margin-right: auto;
    margin-left: auto;
  }
}

article,
#styles {
  padding: 1rem;
}

.page-footer ul,
.features {
  display: grid;
  margin: 0 0 2rem;
  padding: 0;
  grid-gap: 1em;
  list-style: none;
}
