.page-footer {
  position: relative;
  // padding: 3rem 1rem;
  background-color: var(--color-background);
  color: var(--color-text);

  &::before {
    position: absolute;
    left: 50%;
    width: 2em;
    transform: translate(-50%, -100%);
    background-color: var(--color-background);
    color: var(--color-text);
    font-size: 3rem;
  }

  p:first-child {
    margin-top: 3rem;
    font-weight: var(--font-weight-strong);
    letter-spacing: 0.03em;
    text-align: center;
    
  }

  p a {
    color: var(--color-text);
  }

  ul {
    grid-template-columns: repeat(auto-fit, minmax(12ch, auto));
    color: var(--color-text);
  }

  .container > :last-child {
    margin-bottom: 0;
  }
}
